body {
  background-color: #212F3C;
}
header {
  height: 630px;
  background-color: #5DADE2;
  outline: 50px;
  outline-color: white;
}

header h1 {
  padding-top: 20px;
  font-family: monospace;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: white;
}

footer {
    background: #2E86C1;
    color: white;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
}

footer h3 {
  font-family: monospace;

}

footer ul {
  margin: 40px 0;
}

footer li {
  display: inline-block;
  margin: 0 25px;
}

.email-image {
  height: 44px;
}
